@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins);

:root {
    --py: 3rem;
    --fs-base: 0.85rem;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1rem;
    --fs-4: 0.875rem;
    --fs-5: 0.75rem;
}



html,
body {
     /*scroll-behavior: smooth; */
    height: 100%;
    /*transition: 0.5s;*/
}

.h1,
.h2,
.h3,
.h4 {
    display: block;
}

.h1 {
    font-size: var(--fs-1);
    font-weight: 900;
}

.h2 {
    font-size: var(--fs-2);
    font-weight: 700;
}

.h3 {
    font-size: var(--fs-3);
    font-weight: 700;
}

.h4 {
    font-size: var(--fs-4);
    font-weight: 700;
}

.text-sm {
    font-size: var(--fs-4);
}

.text-tiny {
    font-size: var(--fs-5);
}

.text-grayed-out {
    color: var(--foreground-primary-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Bebas Neue", sans-serif;
    color: var(--foreground-primary);
}

.light-theme {
    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 93%);
    --background-tertiary: hsl(0, 0%, 70%);
    --underline: hsl(0, 0%, 20%);
    --action-primary: hsl(214, 32%, 91%);
    --action-secondary: hsl(210, 38%, 95%);

    --foreground-primary: hsl(218, 23%, 23%);
    --foreground-primary-light: hsla(218, 23%, 23%, 0.589);
    --foreground-secondary: hsl(216, 15%, 52%);
    --foreground-tertiary: hsl(214, 20%, 69%);

    --accent: hsl(229, 76%, 66%);
    --main_color: hsl(231, 63%, 50%);
    --background-gradient: linear-gradient(rgb(67, 124, 205), rgb(69, 214, 205));
}

.dark-theme {

    /**
     * dark theme colors
     */

    --background-primary: hsl(218, 23%, 23%);
    --background-secondary: hsl(220, 26%, 14%);
    --background-tertiary: hsl(217, 29%, 9%);
    --underline: hsl(0, 0%, 100%);
    --action-primary: hsl(216, 15%, 52%);
    --action-secondary: hsl(217, 31%, 13%);

    --foreground-primary: hsl(210, 38%, 95%);
    --foreground-primary-light: hsla(210, 38%, 95%, 0.589);
    --foreground-secondary: hsl(211, 25%, 84%);
    --foreground-tertiary: hsl(214, 20%, 69%);

    --accent: hsl(229, 76%, 66%);
    --main_color: hsl(231, 35%, 11%);
    --background-gradient: linear-gradient(hsl(0, 0%, 0%), hsl(261, 100%, 12%));
 }

li { list-style: none; }

::-webkit-scrollbar { width: 16px; }


::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 20px;
    /*border: 4px solid;*/
}

.light-theme::-webkit-scrollbar-thumb { border-color: hsl(0, 0%, 90%); }

.dark-theme::-webkit-scrollbar-thumb { border-color: hsl(219, 27%, 20%); }

.light-theme::-webkit-scrollbar-track { background: hsl(0, 0%, 90%); }

.dark-theme::-webkit-scrollbar-track { background: hsl(219, 27%, 20%); }




/* MAIN SECTION */

.container {
    width: 100%;
    background: var(--background-primary);
}

.container-dark {
    width: 100%;
    background: var(--background-secondary);
}


.sidebar-container {
    display: none;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: var(--background-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);

}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    /*gap: 15px;*/
}



/*.flex-wrapper-inline {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.header .flex-wrapper { display: none; }

.header .btn-group {
    display:     flex;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
}


.mobile-nav .wrapper {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--action-primary);
}

.mobile-nav .nav-title { margin-bottom: 1rem; }

.mobile-nav .nav-item { margin-bottom: 0.5rem; }

.mobile-nav .nav-link {
    font-size: var(--fs-3);
    color: var(--foreground-secondary);
}

.mobile-nav .nav-link:hover { color: var(--accent); }

.navbar a {
    display: inline-block;
    position: relative;
    font-size: 30px;

    font-weight: 500;
    text-decoration: none;
}

.login-navbar {
    display: flex;
    width: 20%;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5%;
}

.login-navbar a {
    position: relative;
    text-align: center;
    font-size: 30px;

    font-weight: 600;
    text-decoration: none;
}

.logo-light,
.logo-dark { display: none; }

.light-theme .logo-light,
.dark-theme .logo-dark { display: block; }

#theme-toggle-mobile,
.nav-menu-btn,
.nav-close-btn {
    background: var(--action-secondary);
    color: var(--foreground-tertiary);
    width:  40px;
    height: 40px;
    display:         flex;
    justify-content: center;
    align-items:     center;
    border-radius: 50%;
    font-size: 25px;
}

:is(#theme-toggle-mobile,
.nav-menu-btn,
.nav-close-btn):hover {
    background: var(--accent);
    color: white;
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    background: var(--background-secondary);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.5s cubic-bezier(1, 0, 0.30, 0.70);
    z-index: 10;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.15);
}

.mobile-nav.active {
    right: 0;
}

.nav-close-btn {
    position: absolute;
    top:   20px;
    right: 20px;
}

.mobile-nav .wrapper {
    padding-bottom: 1.25rem;
    margin-bottom:  1.25rem;
    border-bottom: 1px solid var(--action-primary);
    height: 100%;
    padding-top: 1.25rem;
}

.mobile-nav .nav-title { margin-bottom: 1rem; }

.mobile-nav .nav-item { margin-bottom: 0.5rem; }

.mobile-nav .nav-link {
    font-size: var(--fs-3);
    color: var(--foreground-secondary);
}

.mobile-nav .nav-link:hover { color: var(--accent); }


#theme-toggle {
    position: relative;
    transition: 0.5s;
    width: 5.3vw;
    border-radius: 160px;
    background: var(--background-secondary);
    box-shadow: inset 0 0.1em 1.2em rgba(0, 0, 0, 0.03),
        inset 0 0.1em 1em rgba(0, 0, 0, 0.03),
        inset 0 -0.1em 0.8em rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

#theme-toggle i {
    position: relative;
    top: 0;
    left: 0.25em;
    width: 1em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.01));
    border-radius: 50%;
    transform: scale(1.2);
    box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.05),
        inset 0 0.15em 0.15em rgba(255, 255, 255, 1),
        inset 0 -0.15em 0.15em rgba(255, 255, 255, 1);

}

.dark-theme #theme-toggle {
    position: relative;
    /*right: 10vw;*/
    width: 5.3vw;
    border-radius: 160px;
    background: #222;
    box-shadow: inset 0 0.1em 1.2em rgba(0, 0, 0, 0.1),
        inset 0 0.1em 1em rgba(0, 0, 0, 0.1),
        inset 0 -0.1em 0.8em rgba(0, 0, 0, 0.1);
}

.dark-theme #theme-toggle i {
    position: relative;
    top: 0;
    left: 1.75em;
    width: 1em;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(1.2);
    box-shadow: 0 0.1em 1.2em rgba(0, 0, 0, 0.5),
        inset 0 0.1em 1em rgba(255, 255, 255, 0.2),
        inset 0 -0.1em 0.8em rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.login-navbar a:hover,
.login a:hover {
    color: var(--accent);
}


.navbar a::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--underline);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}





.accent_link {
    position: relative;
    color: var(--accent);
    text-decoration: none;
}

.accent_link::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--underline);
    transition: .3s;
}

.accent_link:hover::before {
    width: 100%;
}

.hero {
    background: var(--background-primary);
    text-align: left;
    padding: 2rem 30px 1rem 80px;
}

.hero .h1 {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.hero .a {
    color: var(--accent);
    font-weight: inherit;
}

.hero .container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Blog Section */

.main {
    background: var(--background-secondary);
    padding: var(--py) var(--py);
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.blog-card-body {
    font-size: var(--fs-5);
}

.blog .h2 {
    line-height: 1.5;
    margin-bottom: 2.5rem;
    text-align: center;
}

.blog .h1 {
    line-height: 1.5;
    margin-bottom: 3rem;
    text-align: center;
}

.blog-card .h3 {
    line-height: 1.5;
    margin-bottom: 0.5rem;
    text-decoration: solid;
}

.title {
    font-size: var(--fs-4);
}

.blog-card-group {
    margin-inline: 6rem;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}

.blog-card {
    background: var(--background-primary);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
    transition: 0.25s ease;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    cursor: pointer;
    height: 25vh;
    overflow-wrap: break-word;
}

.blog-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}

.blog .container {
    margin: auto;
    background: var(--background-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

#blog-form {
    display: inline;
    /* Ensure the form takes the size of its content */
}

/* Style the label to cover the entire card area and change cursor to pointer */
.card-label {
    display: block;
    cursor: pointer;

}



.blog-image {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    margin-right: 20px;
    grid-column: 1;
}

.blog-details {
    grid-column: 2;
}

.blog-topic {
    background: var(--action-secondary);
    color: var(--foreground-secondary);
    /*font-size: var(--fs-4);*/
    font-weight: 600;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: inline-block;
}

.blog-topic:hover {
    background: var(--foreground-secondary);
    color: var(--action-secondary);
    cursor: pointer;
}

/* ARTICLE SECTION */
.article-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: -10px -5px 5px rgba(0, 0, 0, 0.2), !* Shadow on the left *!*/
    /*10px -5px 5px rgba(0, 0, 0, 0.2); !* Shadow on the right *!*/
    padding: 2%;
}

.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
    line-height: 2em;
}

.article-midsection {
    line-height: 3em;
}

hr {
    color: var(--foreground-primary-light);
    margin-top: 10px;
}

.filter-bar {
    width: fit-content;
    height: fit-content;
    background: var(--background-primary);
    margin-inline: auto;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
    border: solid var(--foreground-primary-light) 2px;
    box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.3);
    margin-bottom: 2rem;
}
.filter-bar h2 {
    max-width: fit-content;
    margin-inline: auto;
}

/* Comment Section */

.comment-section {
    padding: 2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.comment-section > * {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.comment {
    background: var(--background-secondary);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.3);
    position: relative;
    /*width: fit-content;*/
}

.comment .btn-group {
    display:flex;
    position: absolute;
    right: 1%;
}

.comment-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.text-wrapper-sm {
    background: var(--accent);
    border-radius: 20px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
}

/*.comment-indented {*/
/*    position: relative;*/
/*}*/

.comment-section hr {
    color: var(--foreground-primary-light);
    margin-block: 10px;
}


/* LOGIN SECTION */

.form-template .container {
    background: var(--background-gradient);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.two-sided-container-banner {
    width: 500px;
    height: 500px;
    background: var(--main_color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 300ms linear;
    flex-direction: column;
}

.two-sided-container-banner a {
    position: relative;
    bottom: 1%;
    color: white;
    text-decoration: none;
    font-size: 0.5em;
}

.two-sided-container {
    width: 850px;
    height: 500px;
    background: var(--background-primary);
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 15px 5px 0.5rem rgba(0, 0, 0, 0.3);

}

.right {
    box-shadow: -5px 0 0.5rem rgba(0, 0, 0, 0.3);
    left: 350px;
}

.left {
    box-shadow: 5px 0 0.5rem rgba(0, 0, 0, 0.3);
    left: 0;
}

.two-sided-container-side {
    width: fit-content;
    z-index: 1;
    height: 90%;
}

.two-sided-container-side form {
    height: 60%;
}

.two-sided-container form div {
    display: flex;
    flex-direction: column;
    width: 250px;
}

input,
textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px 10px;
    background: var(--action-primary);
    transition: 200ms linear;
}

.two-sided-container input:focus,
.footer input:focus,
.footer textarea:focus {
    background: var(--background-primary);
    transform: scale(1.05);
}

.two-sided-container .title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 30px;
}

.existing-account {
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--accent);
    position: relative;
    text-decoration: none;
}


.existing-account::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--underline);
    transition: .3s;
}

.existing-account:hover::before {
    width: 100%;
}

.forgotpw {
    font-size: 13px;
    font-weight: 600;
    margin: 6px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
}

/* Footer */
.footer {
    background: var(--background-primary);
    margin-top: 0;
    /* take available whitespace */
    padding-bottom: 5px;
    height: 380px;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .contact span,
.footer form .email,
.footer form .textinput {
    display: block;
    font-size: 1.2em;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}

.textinput {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.textinput::placeholder {
    color: var(--foreground-primary)
}

.footer .message {
    resize: none;
}

.footer-bottom {
    text-align: center;
    bottom: 0;
    padding-top: 15px;
    left: 0;
    width: 100%;
    background: var(--background-primary);
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer-section.links li {
    margin-bottom: 5px;
}


.message {
    text-align: center;
    border: 1px solid;
}

.error {
    color: red;
    border: 1px solid #e4826e;
    background: #f9eded;
}

.success {
    color: green;
    border: 1px solid #699053;
    background: #ddf1d1;
}

/* Sidebar */
.just-validate-error-label {
    font-size: 11px;
}

.table-wrapper {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 3vh;
    background-color: var(--background-secondary);
    max-height: 33vh;
}

.table {
    border-collapse: separate;
    font-size: var(--fs-3);
    table-layout: fixed;
    padding: 5px;
    background: var(--background-secondary);
    border-spacing: 0 5px;
    width: 100%;
    border-radius: 10px;
    /*overflow: hidden;*/
}


th,
td {
    padding: 0.5rem;
    line-height: 1.25rem;
    background: var(--background-primary);
}



tr td:first-child, th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr td:last-child, th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table .icon-column {
    background: var(--accent);
    /*width: fit-content;*/
    max-width: 6%;
}


.table thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--action-primary);
    text-align: left;
}

.table-wrapper .h2 {
    background: var(--background-secondary);
    font-weight: 600;
    text-align: center;
    background-color: var(--action-primary);
    padding: 10px;
    margin: 0;
}

.table-count {
    /*width: fit-content;*/
    width: 20%;
    text-align: center;
}

/* DROPDOWNS */

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-primary);
    /*color: var(--foreground-primary);*/
    min-width: 230px;
    max-height: 30vh;
    overflow: auto;
    border: 1px solid var(--background-secondary);
    z-index: 1;
}

.dropdown-content a {
    /*color: black;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: var(--accent);
    cursor: pointer;
}

.show {display: block;}

/* Buttons */

.load-more {
    max-width: fit-content;
    margin-inline: auto;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.15);
}
.btn i {
    color: var(--background-secondary)
}

.btn {
    /*min-width: 10rem;*/
    border-radius: 100px;
    /*min-height: 3rem;*/
    cursor: pointer;
    /*margin: 5px;*/
}

.btn-primary {
    background: var(--foreground-secondary);
    color: var(--background-secondary);
    padding: 0.6875rem 1.1875rem;
    font-weight: 500;
    font-size: 15px;
}



.btn-secondary {
    background: var(--foreground-secondary);
    color: var(--background-secondary);
    padding: 0.5rem 1rem;
    border: 3px solid var(--foreground-tertiary);
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 20px;
}


.btn-tertiary {
    background: var(--foreground-secondary);
    color: var(--background-secondary);
    padding: 0.5rem 0.5rem;
    border: 3px solid var(--foreground-tertiary);
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 12px;
    min-width: 7rem;
    min-height: 2rem;
    /*text-align: center;*/
}

.btn-quarternary {
    background: var(--foreground-secondary);
    color: var(--background-secondary);
    padding: 0.3rem 0.3rem;
    border: 3px solid var(--foreground-tertiary);
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: fit-content;
    height: fit-content;
}

.btn-primary:hover, .btn-secondary:hover, .btn-tertiary:hover, .btn-quarternary:hover {
    background: var(--accent);
}

.btn-warning:hover {
    background: red;
}

/*.comment .btn {*/
/*    position: absolute;*/
/*    right: 0;*/
/*}*/


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--accent);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#logout-btn {
    overflow: hidden;
    transition: 0.5s;
    color: var(--foreground-primary);
    text-decoration: none;
    text-transform: uppercase;
}

#logout-btn:hover {
     background-color: var(--background-primary);
    color: hsl(261, 100%, 12%);
    box-shadow: 0 0 35px hsl(261, 100%, 12%);
}

#logout-btn::before {

    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--background-primary);
}

#logout-btn span, #logout-btn i {
    /* Unset, da sonst der * Selektor die Color wieder zurückändern würde trotz hover, da der Hover auf dem Parent und nicht hierdrauf liegt
    und somit die Specificity nicht groß genug ist vom Hover. Auch !important funktioniert irgendwie nicht*/
    color: unset;
    position: relative;
    z-index: 2;
}

.header * {
    position: relative;
    z-index: 1;
}

.dashboard-sidebar {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.dashboard-sidebar a {
    margin-right: 1rem;
    text-decoration: none;
    font-weight: 600;
}

/* Verify Email */
.verify_email {
    width: 50%;
    margin-inline: auto;
    border-radius: 20px;
    padding: 2%;
}

.verify_email .h3 {
    margin-bottom: 10px;
}

.verify_email .btn-group {
    display: flex;
    flex-direction: row;
}


/* Pagination */

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.pagination a.active {
    cursor: default;
}

.pagination a:active {
    outline: none;
}

.pagination li:first-child a {
    border-radius: 50px 0 0 50px;
}

.pagination li:last-child a {
    border-radius: 0 50px 50px 0;
}

.pagination a {
    border-color: #ddd;
    color: #999;
    background: #fff;
}

.pagination a:hover {
    color: #4285F4;
    background-color: #eee;
}

.pagination .active a,
.pagination a:active {
    border-color: #4285F4;
    background: #4285F4;
    color: #fff;
}

/* Contactform */

#contactform {
    height: 85%;
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

#contactform .textinput {
    flex-basis: 50px;
    flex-grow: 3;
    margin-top: 0;
}


@media (min-width: 1024px) {

    :root {

        /**
         * typography
         */

        --fs-base: 1rem;
        --fs-1: 3rem;

    }

    .header .flex-wrapper {
        display: flex;
        gap: 30px;
    }

    .header .btn-group {
        display: none;
    }

    .header .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display:     flex;
        align-items: center;
        gap: 30px;
        width: 100%;
        justify-content: space-between;
    }

    .sidebar-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        max-width: 20%;
        margin-right: 5%;
    }

    .blog-card-body {
        font-size: var(--fs-3);
    }

    .title {
        font-size: var(--fs-3);
    }
}

/* Dashboard */

.dashboard-sidebar {
    position: relative;
    top: 4px;
    height: 100%;
    width: 18vw;
    padding: 0.5rem 0.75rem;
    background: var(--background-primary);
    border-right: 1px solid var(--foreground-primary-light);
    /*border-top: 1px solid var(--foreground-primary-light);*/
    transition: all 0.3s ease;
    margin-top: 0;
    min-height: 100vh;
    box-shadow: 5px -4px 15px rgba(0, 0, 0, 0.35);
    overflow-x: clip;
}

.dashboard-sidebar .menu-items {
    position: absolute;
    top: 0;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.dashboard-sidebar li {
    list-style: none;
    width: 80%;
    margin-inline: auto;
    margin-top: 20px;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
    width: 100%;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--accent);
}

.menu-items li a i{
    font-size: 28px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items li a .link-name{
    font-size: 28px;
    font-weight: 400;
    transition: all ease 0.5s;
}

.dashboard {
    display: flex;
    flex-direction: row;
    background: var(--background-primary);
}

.dashboard-content{
    /*position: relative;*/
    /*left: 250px;*/
    background-color: var(--background-primary);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: ease all .5s;
}

.dashboard .top{
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    transition: ease all 0.5s;
    z-index: 10;
}

.dashboard.close ~ .dashboard-content .top {
    left: 73px;
    width: calc(100% - 73px);
}
